* {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

label {
	margin-top: 1em;
}

.App {
	height: 100vh;
	display: grid;
	grid-template-columns: 40% 60%;
}

.detailInput {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em;
	overflow: auto;
}

.detailInput > * {
	margin: 0.5em
}

.detailInput > div {
	display:flex;
	flex-direction: column;
	width: 80%;
}

.inputContainer div {
	display: flex;
}

.endDateInput {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.endDateInput > input {
	flex-grow: 1;
}

.endDateInput > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-left: 0.5em;
}

.endDateInput > div > label {
	margin: 0;
}

.descriptionInput {
	display: flex;
	flex-direction: column;
}

.descriptionTextInput {
	width: 100%
}

.deleteButton {
	margin-left: auto;
}

.addButton {
	margin-top: 1em;
}

.resumeHeader {
	display:flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	padding: 1em;
}

.resume {
	padding: 1em;
}

.resumeHeader > h1 {
	flex-basis: 100%
}

.resumeHeader > span {
	margin-left: 1em;
	margin-right: 1em;
}

.resume h3 {
	background-color: lightgray;
	margin-top: 0.5em;
}


.sectionWithItems {
	display: flex;
	flex-direction: column;
}

.itemHeader{
	display:flex;
	padding-left: 1em;
	padding-right: 1em;
}


.dates{
	margin-left: auto;
}

.itemSubheader {
	margin-left: 1em;
}

.itemDescription {
	margin-left: 3em;
}

.descriptionInput > div {
	margin-bottom: 0.5em;
}